*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}

.block {
    width: 400px;
    border-radius: 20px;
    background: #138673;
    color: #fff;
    text-align: center;
    padding: 100px 0;
    margin: 40px auto;
}

.btn {
    padding: 10px 30px;
    color: #fff;
    background: #328bff;
    outline: none;
    border: none;
    border-radius: 4px;
    margin: 20px 0;
    cursor: pointer;
}

.btn[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}